body {
    background: #15181a;
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }

  .dark-mode-assist {
    color: #ffffff;
  }

  .dark-mode-assist-section {
    color: #ffffff;
    background: #15181a;
    border: 1px solid #a80de0;
  }

  .dark-mode-assist-section-outer {
    color: #ffffff;
    background: #15181a;
    border: 1px solid #ccfa78;
  }

  ul {
    margin: 0;
  }

  .bg-steel {
    background-color: #1082d3;
  }

  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #c6e615;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #1f1a0d;
    padding: 10px 20px;
    border: 1px solid #ccfa78;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #ffffff;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }