{% extends "ToDo/base.html" %}
{% load static %}
{% block content %}

<style>
    .accomplished:hover {
        background-color: green;
        color: white;
    }

    .working:hover {
        background-color: yellow;
        color: blue;
    }

    #make-bold {
        font-weight: 800;
        float: right;
    }
</style>


<div class="jumbotron dark-mode-assist-section-outer">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead" style="font-family: Cambria;">My 1st Web App made using Django and a bit of Bootstrap magic made for you</p>
    <hr class="my-4">
    <p>
        Get ready to manage your tasks the way you want! Regular ToDoList is a fairly simple todolist app.
        It has all the basic features a todo app should have like creating and managing your tasks. Users also get a personal profile
        page where they can update their info like username or profile picture.
        <br>
        Since this is a web app, you can have your tasks available on all your devices once you login using your credentials. The app has military grade security
        built right into Django. Many new features should be arriving over the span of months:
        <br><br>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Make the app as mobile-friendly as possible <div id="make-bold">Accomplished on March 2nd 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Users will be able to add Due Dates to their tasks - which should turn red if it is past the date <div id="make-bold">Accomplished on March 5th 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Welcome Night Owls! Dark Mode is here!! <div id="make-bold">Accomplished on March 8th 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Task delete confirmation <div id="make-bold">Accomplished on March 9th 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Users can now sort their tasks by due date or when they were created! <div id="make-bold">Accomplished on March 17th 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section accomplished">Introducing SubTasks! Organize your tasks more efficiently!! <div id="make-bold">Accomplished on March 21st 2020!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section working">Add Pagination feature to the "Completed Tasks" page so that the page doesn't get cluttered when users complete lots of tasks <div id="make-bold">Working on this!</div></button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section">Ability for users to reset your account password if they forget it by any chance</button>
            <button type="button" class="list-group-item list-group-item-action dark-mode-assist-section">IMAGINARY: An Insights page where users will be able to see a beautiful graph of how they are managing their tasks. Powered by sweet Matplotlib</button>
        </div>
        <br>
        The app itself is hosted at PythonAnywhere so a shoutout to them as well.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/arafat-ar13/Regular-ToDoList" role="button">Watch this app grow at GitHub</a>
    </p>
</div>


{% endblock content %}
