{% load static %}
{% load user_agents %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if user.profile.has_dark_mode %}
        <link rel="stylesheet" type="text/css" href="{% static 'ToDo/main_dark.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'ToDo/main_light.css' %}">
    {% endif %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}">

    {% if title %}
        <title>Regular ToDoList - {{ title }}</title>
    {% else %}
        <title>Regular ToDoList</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-nav navbar-dark bg-steel navbar-expand-md fixed-top nav-fill">
          <div class="container">
            <a style="padding-left:15px" class="navbar-brand mr-4 nav-link" href="{% url 'todo-home' %}">Regular ToDo</a>
            {% if user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if request.path != "/profile/" %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    {% endif %}
                    {% if request.path != "/about/" %}
                        <a class="nav-item nav-link" href="{% url 'todo-about' %}">About the App</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% if user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            {% if request.path == "/about/" %}
                <div class="col-md-4">
                    <div class="content-section bg-dark">
                        <h3 style="color:azure">About Me</h3>
                        <p style="color:floralwhite">
                            Hey! I am Arafat Khan
                        </p>
                        <p style="color:lightblue">
                            I am a Python Developer who's learning how to print Hello World and aiming to be a Machine Learning engineer.
                            <br>
                            Find out more about me on my website: <br><a target="_blank" href="https://arafat-ar13.github.io/">It's right here</a>
                        </p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'todo-home' %}">
                                Go back to managing tasks
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user.is_authenticated and request.path != "/about/" %}
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Your Sidebar</h3>
                        <p class='text-muted'>Get to work quickly!
                            <ul class="list-group">
                                {% if request.path != "/todo/completed/" %}
                                    <li class="list-group-item dark-mode-assist-section"><a href="{% url 'todo-completed' %}">Completed tasks</a></li>
                                {% endif %}

                                <!-- Dark Mode Handling -->
                                {% if user.profile.has_dark_mode %}
                                    <li class="list-group-item dark-mode-assist-section"><a href="{% url 'todo-darkmode' %}">Disable Dark Mode</a></li>
                                {% else %}
                                    <li class="list-group-item dark-mode-assist-section"><a href="{% url 'todo-darkmode' %}">Enable Dark Mode</a></li>
                                {% endif %}

                                {% if request.path == "/" %}
                                    {% if user.profile.sort_todos_by == "date_added" %}
                                        <li class="list-group-item dark-mode-assist-section">Sorted by: <b>{{ user.profile.sort_todos_by }}</b><br><a href="{% url 'todo-user-sort' %}">Sort by Due Date?</a></li>
                                    {% else %}
                                        <li class="list-group-item dark-mode-assist-section">Sorted by: <b>{{ user.profile.sort_todos_by }}</b><br><a href="{% url 'todo-user-sort' %}">Sort by Date Added?</a></li>
                                    {% endif %}
                                {% endif %}

                                {% if request.path == "/" %}
                                    <li class="list-group-item dark-mode-assist-section">
                                        Filtered by: <b>{{ user.profile.filter_todos_by }}</b>
                                        {% if user.profile.filter_todos_by == "all_todos" %}
                                            <a href="{% url 'todo-filter-important' %}" class="list-group-item dark-mode-assist-section">Filter by important tasks?</a>
                                            <a href="{% url 'todo-filter-due-dates' %}" class="list-group-item dark-mode-assist-section">Filter by due dates?</a>
                                        {% elif user.profile.filter_todos_by == "important_todos" %}
                                            <a href="{% url 'todo-filter-normal' %}" class="list-group-item dark-mode-assist-section">Filter by all tasks?</a>
                                            <a href="{% url 'todo-filter-due-dates' %}" class="list-group-item dark-mode-assist-section">Filter by due dates?</a>
                                        {% elif user.profile.filter_todos_by == "due_date_todos" %}
                                            <a href="{% url 'todo-filter-normal' %}" class="list-group-item dark-mode-assist-section">Filter by all tasks?</a>
                                            <a href="{% url 'todo-filter-important' %}" class="list-group-item dark-mode-assist-section">Filter by important tasks?</a>
                                        {% endif %}
                                    </li>

                                {% endif %}


                                {% if request.path != "/insights/" %}
                                    <li class="list-group-item dark-mode-assist-section"><a href="{% url 'insights' %}">Insights</a></li>
                                {% endif %}

                                {% if request.path != '/' %}
                                    <li class="list-group-item dark-mode-assist-section"><a href="{% url 'todo-home' %}">Back to Home</a></li>
                                {% endif %}
                            </ul>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>

    <!-- Footer -->
    {% if request.path == "/about/" or not user.is_authenticated and request.path == "/" %}
        <br><br><br>
        <footer style="background-color: rgb(23, 216, 174);" class="page-footer font-small">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Arafat Khan
            </div>
            <!-- Copyright -->

        </footer>
    {% endif %}
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>