{% extends "ToDo/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    {% for todo in todos %}
        {% if user.username|lower == todo.creator|lower and todo.is_checked %}
            <article class="media content-section">
                <div class="media-body">
                    <h2><a class="article-title"><s>{{ todo.title }}</s></a></h2>
                    <button onclick="location.href='{% url 'todo-delete' todo.pk %}'" class="btn btn-outline-danger" type="submit">Delete</button>
                    <button onclick="location.href='{% url 'todo-uncheck' todo.pk %}'" class="btn btn-outline-success" type="submit">Uncheck</button>
                    <br>
                    <div class="article-metadata">
                        <small class="text-muted">{{ todo.date_posted|date:"F d, Y" }}</small>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock content %}