{% extends "ToDo/insights_base.html" %}
{% block content %}

<style>
    .stay-tuned {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .important-num-major {
        font-size: 15ch;
        color: darkcyan
    }

    .important-num-minor {
        font-size: 7ch;
        color: magenta;
    }

    .full-content {
        width: 100%;
    }
</style>

<!-- Simple JS function to perform basic arithmetic -->
<script>

    function subtract(val1, val2) {
        let ans = val1 - val2
        document.getElementById("js-caller").innerHTML = ans;
    }

</script>


{% if ready == "AI is still learning" %}
    <div class="content-section stay-tuned dark-mode-assist-section">
        <h1>
            The AI is still learning your behavior. Please continue creating and completing tasks. 
            Since you are a new member, please allow 7 days for the system for analyze you. After 7 days 
            from the day you joined, visit this page again.
        </h1>

        <br><br>
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">What is this page about?</a>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <br>
                    <p1>
                        This is a special page of this app. This page will be populated with data only once a week.
                        Insights mean deeper meaning of something. With this page, I have tried to accomplished a system that will
                        analyze how you are creating and completing your tasks and then process them and show you a beautiful representation of 
                        that data on this page.
                        <br><br>
                        So basically if you are a new user, this page will take about 7 days to learn about you and to collect enough data.
                        Since a week begins on a Monday, this page will be updated every Monday. After visiting this page on a Monday, the 
                        contents of this page will not change until the next Monday, but during this period the system will again collect 
                        data about your behavior and process it so that it can present them to you next Monday.
                        <br><br>
                        <p><b>So what is it really that you will be seeing here?</b></p>
                        Every user will be provided with <a style="color: cornflowerblue">three</a> sorts of insights for now.
                        <br>
                        Well, any user, regardless of if they have created any tasks this week or not, will be provided with a basic
                        insight that is that they will be able to see how many tasks they have created and completed since the day they joined
                        the app
                        <br>
                        Secondly, if the person was productive and created and completed many tasks since the last Monday, then they will also see
                        how many tasks they have created and how many they have actually completed among those.
                        <br>
                        Also, if some of the tasks that you created this week had any due dates, and you completed those tasks within
                        the due date (congrats btw) then you will also see how many tasks you have completed this week ON TIME!
                        <br><br>
                        <b>But what if I created my account on a day that was not a Monday?</b>
                        <br>
                        Well this can happen. If a user created their account on a Monday, then it's just miraculously perfect, they
                        will manage their tasks all week and the system will take 7 days to process data and their Insights Page will 
                        be available next Monday. But if someone created their account on a day other than Monday then at first the
                        system will take its usual 7 day period to analyze the user data, then after 7 days, the user will be provided with Insights
                        on the very next Monday. For example, if someone opened their account on a Friday, then, starting from the upcoming Monday, the 
                        system will analyze their data and populate the Insights Page on the next Monday. So, the tasks created and completed from that Friday 
                        till Sunday will NOT be processed by the AI. This is not a bug, this is just how the app is built.
                        <br>
                        This is the last feature that I will be developing for this app. Thanks everyone who uses the app.
                    </p1>
                </div>
            </div>
        </div>

    </div>

{% elif ready == "show content" %}

    <div class="full-content">
        <div class="content-section dark-mode-assist-section">
            <center>
                <h1>Since the day you became a user of this app, you created: <br><b class="important-num-major">{{ user.profile.total_todos }}</b> todos</h1>
                <h1>And you completed: <span id="js-caller" class="important-num-minor"><script>subtract({{ user.profile.total_todos }}, {{ user.profile.todos }})</script></span> of them! Wow!</h1>
            </center>
            <small>Tip: This insight will update every time you complete or create tasks</small>
        </div>    

        {% if user.profile.todos_created_this_week != 0 %}
            <div class="content-section dark-mode-assist-section">
                <center>
                    <h1>This week you created: <br><b class="important-num-major">{{ user.profile.todos_created_this_week }}</b> todos</h1>
                    <h1>And you completed: <b class="important-num-minor">{{ user.profile.todos_completed_this_week }}</b> of them!!</h1>

                    <br>
                    <h3>
                        By analyzing you, the AI has said that you 
                        were about <br><b class="important-num-major">{{ user.profile.efficiency_this_week }}%</b><br> efficient this week
                    </h3>
                    <br>
                    {% if user.profile.efficiency_change != 0 %}
                        {% if user.profile.efficiency_change_type == "Positive" %}
                            <h3>Congrats! You were more efficient this week than last week. Up by {{ user.profile.efficiency_change }}%</h3>
                        
                        {% elif user.profile.efficiency_change_type == "Negative" %}
                            <h3>Dang! Last week was more efficient than this week. Try harder! Down by {{ user.profile.efficiency_change }}%</h3>
                        
                        {% elif user.profile.efficiency_change_type == "Same" %}
                            <h3>You were as efficient this week as you were last week. Keep it up!</h3>

                        {% endif %}
                    {% endif %}
                </center>
            </div>
        {% endif %}

        <br>
        {% if user.profile.todos_completed_on_time != 0 %}
            <div class="content-section dark-mode-assist-section">
                <center>
                    <h1>This week you completed <br><b class="important-num-major">{{ user.profile.todos_completed_on_time }}</b><br> todos just on time! Yay!</h1>
                </center>
            </div>
        {% endif %}

        <br>
        {% if user.profile.todos_created_this_week == 0 or user.profile.todos_completed_on_time == 0 %}
            <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">You are seeing less data than you should. Find out more here</a>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <br>
                        <div class="card card-body dark-mode-assist-section">
                            <h3 class="text-muted">
                                You are seeing less Insights than you should. Probably today is not Monday. If such is the case, check next Monday
                                for some more fresh data. Or maybe today is Monday but you were not so productive last week. Don't worry, be more
                                productive this week and we'll surely give you more Insights next Monday :)
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endif %}

{% endblock content %}
