{% extends "ToDo/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<style>
    .control-subtask {
        text-decoration: line-through;
    }
</style>

<div class="content section dark-mode-assist-section">
    <h1>{{ todo.title }}</h1>
    <br>

    {% if subtasks %}
        <div style="padding-left: 4ch;">
            {% for subtask in subtasks %}
                <div class="content-section dark-mode-assist-section">
                    {% if not subtask.done %}
                        <li style="font-size: 23px;"><a style="color:inherit; text-decoration: none;" href="{% url 'todo-edit-subtask' subtask.pk %}"> {{ subtask.title }} </a> <button onclick="location.href='{% url 'todo-toggle-subtask' subtask.pk %}'" style="float: right; size:3ch" type="button" class="btn btn-outline-success">Check it off</button> <button onclick="location.href='{% url 'todo-delete-subtask' subtask.pk %}'" style="float: right; size:3ch" type="submit" class="btn btn-outline-danger">Delete</button> </li> 
                    {% else %}
                        <li class="control-subtask" style="font-size: 23px;">{{ subtask.title }} <button onclick="location.href='{% url 'todo-toggle-subtask' subtask.pk %}'" style="float: right; size:3ch" type="button" class="btn btn-outline-success">Uncheck it</button> <button onclick="location.href='{% url 'todo-delete-subtask' subtask.pk %}'" style="float: right; size:3ch" type="submit" class="btn btn-outline-danger">Delete</button> </li> 
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample" role="button" aria-expanded="false" aria-controls="multiCollapseExample">Add more</a>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample">
          <br>
          <div class="card card-body dark-mode-assist-section">
            <div class="content section">
                <form method="POST" name={{ todo.pk }}>
                    {% csrf_token %}
                    <fieldset class="form-group dark-mode-assist">
                        <legend class="border-bottom mb-4">New subtask</legend>
                        {{ subtask_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Add</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>
</div>



{% endblock content %}