{% extends "ToDo/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<style>
    .big-list-item {
        font-size: 4ch;
    }
</style>

<h1>Welcome to your lists! View your lists below</h1>

<br>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group dark-mode-assist">
        <legend class="border-bottom mb-4">New List</legend>
        {{ list_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Add</button>
    </div>
</form>

<div class="content-section">
    <ul class="list-group">
        {% for user_list in user_lists %}
            <li class="list-group-item dark-mode-assist-section big-list-item">
                <a style="color:inherit; text-decoration: none;" href="{% url 'tasklist-single-view' user_list.title user_list.pk %}">{{ user_list }}</a>
                <button data-toggle="modal" data-target="#exampleModalCenter{{ user_list.pk }}" style="float: right;" class="btn btn-outline-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>

            <div class="modal fade" id="exampleModalCenter{{ user_list.pk }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content dark-mode-assist-section">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirm the deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this task permanently?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button onclick="location.href='{% url 'delete-item' 'tasklist' user_list.pk %}'" type="submit"
                                class="btn btn-danger">Yes, I am sure</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>

{% endblock content %}