{% extends "ToDo/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="content section dark-mode-assist-section">
    <h1>{{ todo.title }}</h1>
    <br>

    {% if todo.notes %}
        <div class="content-section dark-mode-assist-section">
            <h3>
                <div style="font-family:Candara">{{ note.content|linebreaks }}</div>
                <br>
                <button class="btn btn-outline-danger" type="submit" onclick="location.href='{% url 'todo-delete-notes' note.pk %}'">Delete notes</button>
                <button class="btn btn-outline-info" type="submit" onclick="location.href='{% url 'todo-edit-notes' note.pk %}'">Edit notes</button>
            </h3>
            <p>
                <br>
                Added on: {{ note.date_added|date:"F d, Y" }}
            </p>
            {% if note.date_edited != note.date_added %}
                <p>
                    Edited on: {{ note.date_edited|date:"F d, Y" }}
                </p>
            {% endif %}
        </div>

    {% else %}

        <br>
        <div class="content section dark-mode-assist-section">
            <form method="POST" name={{ note.pk }} >
                {% csrf_token %}
                <fieldset class="form-group dark-mode-assist">
                    <legend class="border-bottom mb-4">Add notes</legend>
                    {{ note_form|crispy }}
                    <input type="hidden" name="title" value={{ note.pk }}>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Add</button>
                </div>
            </form>
        </div>

    {% endif %}

    <br><br><br><br>
</div>



{% endblock content %}