{% extends "ToDo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group dark-mode-assist">
                <legend class="border-bottom mb-4">Edit TaskList</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}