body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Balsamiq Sans', cursive;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
margin: 0;
}

.bg-steel {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.site-header .navbar-nav .nav-link {
color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
color: #c6e615;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.hoverable-item:hover {
    background-color: lightskyblue;
    color: black
}

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #0960d1;
border-radius: 3px;
margin-bottom: 20px;
}

.article-title {
color: #444444;
}

a.article-title:hover {
color: #428bca;
text-decoration: none;
}

.article-content {
white-space: pre-line;
}

.article-img {
height: 65px;
width: 65px;
margin-right: 16px;
}

.article-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
color: #333;
text-decoration: none;
}

.article-svg {
width: 25px;
height: 25px;
vertical-align: middle;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}
